/* Body */

body {
  margin: 0;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Background image */

#background-image {
  background-image: url("sverige43.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
}

/* Header */

.public-header {
  width: 100%;
  position: absolute;
  margin: 2.5em 0 2.5em 0;
}

.public-header ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  gap: 4rem;
}

.public-header a {
  color: white;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
}

.header-navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#header-logo {
  height: 2rem;
}

/* Login page */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.login-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0.4em 0 0.4em rgba(29, 29, 29, 0.15);
  background-color: white;
  border-radius: 36px;
  padding: 2rem;
  width: clamp(280px, 25vw, 400px);
}

.login-card form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.login-card-header {
  font-size: 2.5em;
  margin-top: 0;
  text-align: center;
  color: red;
}

.login-card-footer {
  display: flex;
  justify-content: space-between;
}

.login-card-footer a {
  text-decoration: none;
  color: black;
}

#login-button {
  margin: 0.5rem 0;
  padding: 0.75rem 1.5rem;
  border: 1px solid transparent;
  color: white;
  border-radius: 8px;
  font-family: inherit;
  font-weight: bold;
  background-color: #07a31f;
  transition-duration: 300ms;
}

#login-button:hover {
  background-color: #058318;
  cursor: pointer;
}

.show-password-wrapper {
  position: relative;
}

#show-password-button {
  cursor: pointer;
  position: absolute;
  right: 1rem;
  bottom: 0.8rem;
  background: none;
  border: none;
}

.field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.field-wrapper label {
  color: rgb(94, 94, 94);
}

.field-wrapper input {
  padding: 0.75rem 1rem;
  border: 1px solid rgb(173, 173, 173);
  border-radius: 8px;
  font-family: inherit;
  font-size: 1rem;
}

/* Price list page */

.price-list-page-container {
}

.user-header {
  color: white;
  font-weight: bold;
  display: flex;
  background-color: #0f7ee9;
  padding: 0.5em 8em;
}
